@font-face {
    font-family: 'raleway';
    src: url('fonts/Raleway-Regular.ttf');
    font-style: normal;
}
@font-face {
    font-family: 'raleway black';
    src: url('fonts/Raleway-Black.ttf');
    font-style: normal;
}
body {
    font-family: 'raleway';
}
body * {
    box-sizing: border-box;
}

/*------------------------------------------DEBUT HEADER-----------------------------------*/

header {
    width: 100%;
}
header nav .logo-reservia {
    margin: 25px 0 0 15px;
}
header nav .logo-reservia img.logo-reservia-img {
    width: 120px;
}
header nav.nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
header .nav-bar {
    display: contents;
}
header nav.nav a {
    text-decoration: none;
    font-size: 18px;
    font-family: 'raleway';
}
header nav .nav-menu-sinscrire {
    margin: 50px 15px 0 0;
}
header nav .nav-menu-sinscrire a {
    color: #0065fc;
    font-weight: bold;
}
header nav.nav ul.nav-menu {
    display: flex;
    flex: 100%;
    margin-top: 25px;
}
header nav.nav ul.nav-menu li  {
    flex: 50%;
    text-align: center;
    border-bottom: 3px solid #f2f2f2;
}
header nav.nav ul.nav-menu li.active {
    border-bottom: 3px solid #0065fc ;
}
header nav.nav ul.nav-menu li.active a {
    color: #0065fc;
}
header nav.nav ul.nav-menu li a {
    display: block;
    padding: 10px 0;
    color: black;
}
/*--------------------------------------------FIN HEADER-----------------------------------*/







/*---------------------------------------DEBUT RECHERCHE FORM-------------------------------*/

h1 {
    font-family: 'Raleway';
    font-weight: bold;
    font-size: 23px; 
}
.rechercheform {
    margin: 40px 15px 0 15px;
}
.rechercheform .ville {
    margin-top: 20px;
}
.recherche-position {
    display: block;
    position: relative;
    width: 100%;
    max-width: 420px;
    margin-top: 40px;
}
.recherche-position .span-icon {
    display: block;
    height: 51px;
    width: 15%;
    z-index: 2;
    position: absolute;
    line-height: 51px;
    text-align: center;
    background: #f2f2f2;
    border-radius: 14px 0 0 14px;
    font-size: 20px;
}

input#name::placeholder {
    color: black
}

input.favorite.styled {
    background: #0065fc;
    border: 0;
    font-size: 18px;
    width: 30%;
    color: white;
    border-radius: 0 14px 14px 0;
    outline-style: none;
    height: 51px; 
 }

 .recherche-position input#name {
    border: 2px solid #f2f2f2;
    width: calc(100% - 100px);
    outline-style: none;
    height: 50px;
    font-size: 18px;
    margin: 0 auto;
    left: 50px;
    position: relative;
    padding-left: 19px;
    font-family: 'raleway';
    font-weight: bold;
}
.recherche-position button.search {
    border: 0;
    position: absolute;
    top: 0;
    border-radius: 18px;
    right: 25px;
    display: block;
    height: 50px;
    font-size: 18px;
    background: #0065fc;
    color: white;
    width: 15%;
    outline-style: none;
}
    button span span {
    display: none;
}
/*---------------------------------------FIN RECHERCHE FORM-------------------------------*/







/*---------------------------------DEBUT RECHERCHE CATEGORIE------------------------------*/


li.recherche-categorie {
    margin-top: 35px;
}
li.recherche-categorie span.filtres {
    font-size: 18px;
    font-family: 'raleway';
    font-weight: bold;
}
.recherche-filtres .recherche-filtre {
    display: flex;
    flex-wrap: wrap;
    margin-top: 15px;
}
.recherche-filtre li {
    margin: 10px;
}
.recherche-filtre-button {
    height: 48px;
    font-size: 18px;
    background: white;
    border: 1px solid #d9d9d9;
    border-radius: 25px;
    outline-style: none;
    position: relative;
}
span.recherche-filtre-icon {
    width: 50px;
    background: #deebff;
    position: absolute;
    font-size: 20px;
    top: -2px;
    height: 50px;
    line-height: 50px;
    left: -9px;
    color: #0065fc;
    border-radius: 105px;
}
span.recherche-filtre-name {
    margin: 0 10px 0 40px;
}
/*--------------------------------------FIN RECHERCHE CATEGORIES-------------------------------*/







/*---------------------------------------DEBUT INFO HEBERGEMENTS-------------------------------*/

.block-info-hebergements {
    margin: 15px 15px 0px 15px;
    display: flex;
}
span.info-icon {
    font-size: 10px;
    height: 24px;
    width: 24px;
    color: #0065fc;
}
span.info-icon i.fas.fa-info{   
    padding: 0.4em 0.7em;
    border-radius: 60px;
    box-shadow: 0px 0px 2px #888;
}
span.info-hebergement {
    margin-top: 2px;
    margin-left: 10px;
}
/*----------------------------------------------------- FIN INFO HEBERGEMENTS-------------------------------*/








/*----------------------------------------- DEBUT BLOCK HEBERGEMENTS-POPULAIRE-------------------------------*/
.Hebergments-populaire {
    background: #f2f2f2;
    margin-top: 40px;
    display: flex;
    padding-bottom: 35px;
}
h2 {
    font-family: 'Raleway';
    font-weight: bold;
    font-size: 23px;
}


aside.les-plus-populaire {
    width: 100%;
    padding: 50px 15px 0px 15px;
}
aside.les-plus-populaire {
    width: 100%;
    margin: 40px 15px 0px 15px;
}
aside.les-plus-populaire .populaire-titre {
    display: flex;
    justify-content: space-between;
}
aside.les-plus-populaire .populaire-titre i.fas.fa-chart-line {
    font-size: 23px;
}
aside.les-plus-populaire a.populaire {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    margin: 10px 0px 0px 0px;
    background: white;
    border-radius: 25px;
    padding: 5px;
    box-shadow: 10px 10px 10px #e9e9e9;
    text-decoration: none;
    min-height: 135px;
}
aside.les-plus-populaire a.populaire .populaire-image-div {
    flex: 35%;
}
aside.les-plus-populaire a.populaire .populaire-description {
    padding-left: 10px;
    font-size: 17px;
    flex: 55%;
    display: block;
}
aside.les-plus-populaire a.populaire .populaire-description .populaire-name {
    font-family: 'raleway';
    font-weight: bold;
    color: black;
    font-size: 18px;
}
aside.les-plus-populaire a.populaire .populaire-description .prix {
    color: black;
    margin-top: 15px;
    display: block;
    font-size: 15px;
}
aside.les-plus-populaire a.populaire .populaire-description .note {
    font-size: 11px;
    margin-top: 45px;

}
aside.les-plus-populaire a.populaire .populaire-description .note .star-blue {
    color: #0065fc;
}
aside.les-plus-populaire a.populaire .populaire-description .note .star {
    color: #d9d9d9;
}
img.populaire-images {
    width: 100%;
    height: 100%;
    border-radius: 20px 0 0 20px;
    object-fit: cover;
}

/*----------------------------------------- FIN BLOCK HEBERGEMENTS-POPULAIRE---------------------------------*/









/*-------------------------------------------- DEBUT HEBERGEMENTS A MARSEILLE---------------------------------*/

.hebergements-a-marseille {
    background: white;
    display: flex;
}
.hebergements-marseille {
    width: 100%;
    margin: 40px 15px 0px 15px;
}
.hebergements-marseille .hebergements {
    margin: 25px 0 0 0;
}
.hebergements-marseille .hebergements a.hebergement {
    flex-direction: column;
    display: flex;
    align-items: stretch;
    margin: 30px 0px 0px 0px;
    background: white;
    border-radius: 25px;
    padding: 5px;
    box-shadow: 0px 0px 20px 0px #e9e9e9;
    text-decoration: none;
    min-height: 135px;
}
.hebergements-marseille .hebergements a.hebergement .hebergement-description {
    padding-left: 10px;
    font-size: 17px;
    flex: 55%;
    display: block;
    padding-top: 15px;
}
.hebergements-marseille .hebergements a.hebergement .hebergement-image-div {
    flex: 35%;
    height: 115px;
}
.hebergements-marseille .hebergements a.hebergement .hebergement-description .hebergement-name {
    font-family: 'raleway';
    font-weight: bold;
    color: black;
    font-size: 18px;
}
.hebergements-marseille .hebergements a.hebergement .hebergement-description .prix {
    display: block;
    padding-top: 10px;
    font-size: 15px;
    color: black;
}
.hebergements-marseille .hebergements a.hebergement .hebergement-description .note {
    display: block;
    padding: 10px 0 5px 0;
    font-size: 11px;
}
.hebergements-marseille .hebergements a.hebergement .hebergement-description .note .star-blue {
    color: #0065fc;
}
.hebergements-marseille .hebergements a.hebergement .hebergement-description .note .star {
    color: #d9d9d9;
}
img.hebergement-images {
    width: 100%;
    height: 100%;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
}
.hebergements-marseille .hebergements-plus {
    margin-top: 40px;
}
.hebergements-marseille .hebergement-plus {
    font-family: 'raleway';
    font-weight: bold;
    display: block;
    color: black;
    padding-left: 20px;
    font-size: 18px;
}

/*-------------------------------------------- FIN HEBERGEMENTS A MARSEILLE---------------------------------*/







/*------------------------------------------ DEBUT ACTIVITE A MARSEILLE---------------------------------------*/

section.activites-a-marseille {
    margin: 60px 15px 0 15px;
}
.activites-marseille .activites a.activite {
    flex-direction: column;
    display: flex;
    align-items: stretch;
    margin-top: 25px;
    background: white;
    border-radius: 25px;
    box-shadow: 0px 0px 20px 0px #e9e9e9;
    text-decoration: none;
    min-height: 135px;
}


.activites-marseille a.activite .activite-image-div {
    flex: 35%;
    height: 115px;
}

.activites-marseille .activites a.activite .activite-name {
    font-family: 'raleway';
    font-weight: bold;
    color: black;
    font-size: 18px;
    text-decoration: none;
    padding: 25px 0 20px 20px;
    display: block;
}

img.activite-image {
    width: 100%;
    height: 100%;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
}

/*------------------------------------------ FIN ACTIVITE A MARSEILLE---------------------------------------*/






/*-------------------------------------------------- DEBUT FOOTER---------------------------------------------*/



footer.bg-light-grey {
    font-size: 18px;
    margin-top: 50px;
    padding-top: 30px;
    padding-left: 30px;
    background: #f2f2f2;
    padding-bottom: 50px;
}
span.footer-title {
    font-family: 'raleway';
    font-weight: bold;
    color: black;
    display: block;
    padding-top: 45px;
}
.footer-colonne a { 
    font-family: 'raleway';
    display: block;
    padding-top: 20px;
    text-decoration: none;
    color: black;
    font-size: 15px;
}

/*-------------------------------------------------- FIN FOOTER---------------------------------------------*/











/*---------------------------------------DEBUT FORMAT TABLETTE  (769 - 991) ------------------------------- */

@media screen and (min-width: 769px ) { /*------------------------DEBUT HEADER------------------------------*/ 
    header nav .logo-reservia {
        margin: 25px 0 0 50px;
    }
    header nav .nav-menu-sinscrire {
        margin: 50px 50px 0 0;
    }

    /*---------------------------------------------------------------FIN HEADER------------------------------*/ 
    
    






    /*-----------DEBUT RECHERCHE CATEGORIE------------------------------*/
    .rechercheform {
        margin: 40px 50px 0 50px;
    }
    .block-info-hebergements {
        margin: 15px 50px 0px 50px;
        display: flex;
    }


    /*--------------------------------------DEBUT RECHERCHE CATEGORIE-----------------------------------------------*/

    section.hebergements-marseille-populaire { /*------------DEBUT HEBERGEMENT MARSEILLE POPULAIRE--------------------*/
        display: flex;
        align-items: baseline;
        flex-direction: row-reverse;
    }
    .Hebergments-populaire {
        background: #f2f2f2;
        margin-top: 40px;
        display: flex;
        margin-left: 45px;
        margin-right: 50px;
        padding-bottom: 4%;
        border-radius: 20px;
    } 
    aside.les-plus-populaire {
        width: 100%;
        padding: 50px 40px 0px 40px;
        margin: 0;
    }
    aside.les-plus-populaire a.populaire {
        display: flex;
        flex-direction: row;
        align-items: stretch;
        margin: 30px 0px 0px 0px;
        background: white;
        border-radius: 25px;
        padding: 5px;
        box-shadow: 10px 10px 10px #e9e9e9;
        text-decoration: none;
        min-height: 147px;
    }
    .hebergements-marseille {
        width: 100%;
        padding: 50px 40px 50px 40px;
        background: #f2f2f2;
        margin: 45px 0px 0px 50px;
        border-radius: 20px;
    }
    /*--------------------------------------------------FIN HEBERGEMENT MARSEILLE POPULAIRE--------------------*/








    /*--------------------------------------------------DEBUT ACTIVITE MARSEILLE--------------------------------*/
    section.activites-a-marseille {
        margin: 60px 50px 0 50px;
    }
    /*--------------------------------------------------FIN ACTIVITE MARSEILL------------------------------------*/
    
    






    footer.bg-light-grey { /*-------------------------DEBUT FOOTER----------------------------------------*/
        font-size: 18px;
        margin-top: 50px;
        padding-top: 0px;
        background: #f2f2f2;
        padding-bottom: 50px;
        padding-left: 50px;
    }
    footer.bg-light-grey .footer-colonnes {
        display: flex;
    }
    footer.bg-light-grey .footer-colonnes .footer-colonne {
        display: block;
        width: 34%;
    } /*---------------------------------------------DEBUT FOOTER----------------------------------------*/
 

}

/*---------------------------------------FIN FORMAT TABLETTE  (769 - 991) ------------------------------- */












/*----------------------------------DEBUT FORMAT ORDINATEUR  (992 - 1199 px) ------------------------------- */



@media screen and (min-width: 991px)  { 
    header .nav-bar { /*------------------------------------- DEBUT HEADER ---------------------------------- */
        display: flex;
        flex-direction: row-reverse;
    }
    header nav .nav-menu-sinscrire {
        margin: 50px 75px 0 0;
    }
    header nav.nav ul.nav-menu {
        display: flex;
        flex: 100%;
        margin-top: 0;
    }
    header nav.nav ul.nav-menu li.active {
        border-top: 2px solid #0065fc;
        padding: 50px 25px 0 25px;
        border-bottom: 0
    }
    header nav.nav ul.nav-menu li {
        text-align: center;
        border-bottom: 0
    }
    header nav .nav-menu-sinscrire {
        margin: 52px 75px 0 25px;
    }
    header nav.nav ul.nav-menu li a {
        display: block;
        padding: 0;
        color: black;
        
    }
    header nav.nav ul.nav-menu .no-active { 
        padding: 52px 25px 0 25px;
    } /*---------------------------------------------FIN HEADER ------------------------------------------- */




    .recherche-position button.search { /*----------------------DEBUT RECHERCHE POSITION ------------------ */
        border: 0;
        position: absolute;
        top: 0;
        border-radius: 0 18px 18px 0;
        right: -10px;
        display: block;
        height: 50px;
        font-size: 18px;
        background: #0065fc;
        color: white;
        width: 27%;
        outline-style: none;
    }
    button i.fas.fa-search {
        display: none;
    }
    button span span {
        display: block;
    }  /*-------------------------------------------DEBUT RECHERCHE POSITION ------------------------------- */






    .hebergements-marseille { /*----------------------DEBUT RECHERCHE POSITION ------------------------------ */
        width: 100%;
        padding: 50px 20px 50px 20px;
        background: #f2f2f2;
        margin: 45px 0px 0px 50px;
        border-radius: 20px;
    }
    .hebergements-colonne1 {
        display: flex;
    }
    .hebergements-colonne2 {
        display: flex;
    }
    .hebergements-marseille .hebergements a.hebergement {
        flex-direction: column;
        display: flex;
        align-items: stretch;
        margin: 30px 20px 0px 20px;
        background: white;
        width: 34%;
        border-radius: 25px;
        padding: 5px;
        box-shadow: 0px 0px 20px 0px #e9e9e9;
        text-decoration: none;
        min-height: 135px;
    }
    .hebergements-marseille .hebergements {
        margin: 0;
    }
    .activites-marseille {
        display: flex;
        justify-content: space-between;
    }
    .activites {
        width: 100%;
        max-width: 330px;
    }
    .activites-simple .activite-image {
        width: 100%;
        max-width: 330px;
        height: 390px;
    }
    #activite-image-185 {
        height: 185px;
        width: 100%;
    }
    #activite-image-155  {
        width: 100%;
        height: 155px;

    }
    #activite-image-145 {
        width: 100%;
        height: 145px;
    }




}



/*-------------------------------------FIN FORMAT ORDINATEUR  (992 - 1199 px) ----------------------------- */